<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.otakuchiyan.dnsman">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="DNS man">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DnsEditActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.otakuchiyan.dnsman.MainActivity" />
        </activity>
        <activity
            android:name=".DnsListActivity"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".VpnWrapperActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".ExecuteIntentService"
            android:exported="false" />
        <service
            android:name=".DnsVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".NetworkChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="io.github.otakuchiyan.dnsman.ACTION_SET_DNS"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
